.header {
    width: 1200px;
}

.menu {}

.menu_list {
    text-align: left;
    margin-top: 55px;
    margin-left: 313px;
    margin-bottom: 102px
}

.menu_list_item {
    list-style: none;
    display: inline-block;
    margin-right: 103px;
   
    
}

.menu_list_item:last-child{
    margin-right: 0px;
}

.item_link {
    font-size: 14px;
    text-transform: uppercase;
    color:#626262 ;
    text-decoration: none;
    font-family:'PlayfairDisplay';
    font-weight: 400;
    color:#626262;
    
}

.item_link:hover {
    color:#03A9F4 ;
}
