.main {
   
    max-width:1200px;
    max-height: 1710px;
    
}

.section {
    margin-right: 60px;
    width: 423px;
    display: inline-block;
    margin-top: 0px;
    height: 480px;
    margin-bottom: 131px;
    margin-left: 150px;
}

.sectionImg {

}

.sectionStyle {
    color:#B4AD9E;
    font-family: 'Ubuntu';
    font-weight: 300;
    text-transform:uppercase;
    font-size: 14px;
}

.sectionName {
    font-family:'PlayfairDisplay';
    font-weight: 400;
    font-size: 30px;
    color:#626262;
    margin-bottom:36px;

}


.sectionText {
    font-size: 14px;
    color:#626262;
    font-family:'PlayfairDisplay';
    font-weight: 400;
}

.section:nth-last-child(2n+1){
    margin-right: 0px;
    margin-left: 0px;
}

.button {
    margin-top: 75px;
    text-align: center;
    padding: 22px 35px;
    width: 165px;
    height: 61px;
    margin-top: 53px;
    margin-bottom: 70px;
    margin-left: 506px;
    margin-right: 529px;
    color:#626262;
    font-family:'PlayfairDisplay';
    font-weight: 400;
    font-size: 20px;
}